* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #12121e;
  min-height: 100%;
  width: 100%;
  color-scheme: dark;
}

html, body {
  overscroll-behavior-x: none;
}

body {
  background-color: #12121e;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
}

#root {
  background-color: #12121e;
  min-height: 100vh;
  width: 100%;
}
/* Для Chrome, Safari и Edge */
::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111622; /* Цвет дорожки (в цвет твоего фона) */
}

::-webkit-scrollbar-thumb {
  background: #4a5568; /* Цвет самого ползунка */
  border-radius: 4px; /* Закругление */
}

::-webkit-scrollbar-thumb:hover {
  background: #718096; /* Цвет ползунка при наведении */
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #111622;
}